body {
    padding: 30px;
    font-family: consolas, Courier New, Courier, monospace;
    background-color: white;
}

#lastName, .tech{
    color: cornflowerblue;
    font-weight: bold;
}

.left-hand-nav{
    background-color: white;
     
}

footer{padding: 10px;}


.thumbnail{
    height: 375px;
    background-color: white;

}

.project-picture{
    background-color: whitesmoke;
    height: 35%;
}

img{width: 50%;}

h5{
    color: dimgray; 
}